.logo{
  display: flex;
  width: 805px;
  height: 307px;
}

.fullName, .electives{
  margin: 30px 0px 0px 162px;
  color: #595959;
  font-size: 64px;
}

.electives{
  margin-top: 61px;
}

.student-properties{
  padding-top: 16px;
}

.student{
  display: flex;
  margin: 55px 0px 0px 172px;
}

.student img{
  width: 488px;
  height: 498px;
  flex-shrink: 0;
}

.student button{
  background-color: white;
  border-style: none;
}

.student *{
  margin-right: 53px;
  display: flex;
  flex-direction: column;
  color: #595959;
  font-size: 32px;
  gap: 30px;
}

.student a{
  margin-top: 10px;
}

.search{
  border-radius: 20px;
  background: rgba(217, 217, 217, 0.40);
  width: 1461px;
  height: 101px;
  flex-shrink: 0;
  margin: 41px 0px 0px 165px;
}


