@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic" rel="stylesheet');

body {
  font-family: Arial;
  margin: 0px 240px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* background-color: rgb(24, 24, 24); */
  background: linear-gradient(1000deg, rgb(145, 216, 246), rgb(252, 239, 228));
}
