/* all */
body {
  font-family: Arial;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bigLogo{
  width: 200px;
  height: 429px;
  flex-shrink: 0;
}
.logo-container{
  width: 1033px;
  height: 429px;
  flex-shrink: 0;
}
.logo{
  display: flex;
  width: 400px;
  height: 170px;
}

.fullName, .electives{
  margin: 30px 0px 0px 162px;
  color: #595959;
  font-size: 64px;
}

.electives{
  margin-top: 61px;
}

.student-properties{
  padding-top: 16px;
}

.student{
  display: flex;
  margin: 55px 0px 0px 172px;
}

.student img{
  width: 488px;
  height: 498px;
  flex-shrink: 0;
}

.student button{
  background-color: white;
  border-style: none;
}

.student *{
  margin-right: 53px;
  display: flex;
  flex-direction: column;
  color: #595959;
  font-size: 32px;
  gap: 30px;
}

.student a{
  margin-top: 10px;
}

.search{
  border-radius: 20px;
  background: rgba(217, 217, 217, 0.40);
  width: 1461px;
  height: 101px;
  flex-shrink: 0;
  margin: 41px 0px 0px 165px;
}

/* Стили для модального окна */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  z-index: 1000; /* Выше других элементов */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 800px; /* Ширина модального окна */
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}



label {
  position: relative;
}

input {
  padding-left: 142px;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 568px;
  height: 124px;
  flex-shrink: 0;
  border-radius: 20px;
  border-style: none;
  background-color: rgba(217, 217, 217, 0.40);
}

input::placeholder {
  color: #D3D3D3;
}

.container, .container *{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.login-form *{
  gap: 60px;
}

.password-label::before, .login-label::before{
  position: absolute;
  top: 42px;
  left: 44px;
  content: "";
  width: 35px;
  height: 40px;
}

.login-label:before {
  background: url("../../ystu-images/icons/user.svg") no-repeat;
}

.password-label:before {
  background: url("../../ystu-images/icons/lock.svg") no-repeat;
}

.submit{
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 0;
  background: #0A62C4;
  width: 806px;
  height: 162px;
  color: #FFF;
  font-size: 60px;
  transition: 0.5s;;
}

.submit:hover{
  transform: scale(1.05);
}

/* LoginPage.css */

/* Контейнер для анимации */
.error-message-wrapper {
  position:absolute;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 15px 0px;

  animation: fadeIn 0.3s ease-in-out;
}

/* Стиль самого сообщения об ошибке */
.error-message {
  font-size: 40px;
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #f5c6cb;
  width: fit-content;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Анимация плавного появления */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}