.footer  {
  background-color: #f0f0f0; /* Светло-серый фон */
  width: 100%;
  border-radius: 10px;
  text-align: center;
  color: #333; /* Тёмно-серый цвет текста */
  padding: 7px 0;
  font-size: 16px;
  border-top: 1px solid #ccc; 
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
  justify-content: center;
}


