
.search-electives{
  border-radius: 20px;
  border: 2px solid white;
  background: rgba(217, 217, 217, 0.40);
  font-size: 24px;
  width: 50vw;
  height: 50px;
  padding-left: 40px;
  flex-shrink: 0;
  margin: 41px 0px 0px 0px;

}


.search-electives:focus{
  outline: 1px solid white;
}

.elective-container{
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;

  border-radius: 20px;
}
.electives{
  display: flex;
  justify-content: center;
}
.elective{
  padding: 30px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.elective-image{
  width: 210px;
  height: 210px;
}
.elective-info{
  width: 500px;
  display: flex;
  flex-direction: column;
}
.elective-info * {
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.elective-name{
  font-size: 32px;
  margin-left: 20px;
  white-space: nowrap;
}

.elective-properties div:nth-child(4) {
  display: inline;
  flex-direction: row;
}



.elective-properties{
  margin-top: 10px;
  font-size: 16px;
  padding-left: 30px;
  white-space: nowrap;
}

.elective-info_button{
  font-size: 16px;
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

.elective-info_button:hover{
  opacity: 0.75;
}

.elective-signIn{
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  white-space: nowrap;
}


.sign{
  display: block;
  border-style: none;
  border: 1px solid black;

  background-color: rgb(10, 98, 196);

  color: white;
}

.unsign{
  display: none;
  border-style: none;
  border: 1px solid black;
  color: black;
  background-color: rgb(241, 241, 241);
}

.elective-signIn:hover{
  opacity: 0.9;

}

.elective-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}