/*All*/
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
#root {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0px;;

}

body {
  margin: 0px 150px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow-y: scroll;
}
body *{
  font-family: Nunito;
}

main{
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100%;
  box-shadow: 10px 0px 10px 1px #aaaaaa;  
}

details {
  background-color: #333;
  border-radius: 5px;
  color: white;
  display: flex;
}

details p{
  padding: 0px 0px 10px 10px;
}

summary {
  border-bottom: 1px solid black;
  background-color: rgb(25, 93, 165);
  color: white;
  padding: 10px;
}



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/*Login.jsx*/
.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 30px;
  border-radius: 5px;
  gap: 30px;  
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.logo-big {
  width: 650px;
  height: 270px;
  border-radius:  5px;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.login-form_input {
  padding-left: 80px;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: rgba(217, 217, 217, 0.40);
  width: 300px;
  height: 75px;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.login-form_input:focus{
  box-shadow: rgb(22, 86, 155) 10px 10px;
  outline: #ffaf1b solid 3px;
}

.login-form_input::placeholder {
  color: #9b9b9b;
}

.login-form_button{
  border-radius: 2%;
  border-style: none;
  background: rgb(22, 86, 155);
  width: 380px;
  height: 75px;
  color: #FFF;
  font-size: 25px;
  transition: 0.2s;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px;
}

.login-form_button:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-form_button:focus{

  box-shadow: rgb(239, 127, 27) 10px 10px;
}

.icon-container{
  position: relative;
}

.icon-container::before{
  position: absolute;
  top: 17px;
  left: 22px;
  content: "";
  width: 35px;
  height: 40px;
  transform: scale(0.7);
}

.login-container:before {
  background: url("./ystu-images/icons/user.svg") no-repeat;
}
.password-container:before {
  background: url("./ystu-images/icons/lock.svg") no-repeat;
}



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/*Navbar.jsx*/
aside{
  background-color: rgb(25, 93, 165);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: height 0.5s ease;
  overflow: hidden;
  box-shadow: -10px 0px 10px 1px #aaaaaa;  
  border-left: #333 1px solid;
  border-right: #333 1px solid;
  width: 230px !important;
  position: sticky;
  top: 0px;
  height: 100vh;
  min-height: 200px;
}

.nav-logo-container *{
  display: flex;
  align-items: center; 
  width: 100%;  
  height: 100%; 
  border-right: none;
}

.nav-links-container {
  margin: 20px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  gap: 20px;
}

.nav-links-container *{
  font-size: 17px;
  color: white;
  border-style: none;
  text-decoration: none;
  background-color: transparent;
  transition: 0.1s ease-out;
  white-space: nowrap;
}

.nav-links-container button{
  padding: 0;
}

.nav-links-container *:hover{
  text-decoration: underline 2px;
  text-underline-offset: 5px;
  opacity: 0.6;
}



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/*Student, Teacher.jsx*/
.profile{
  display: flex;
  margin: 30px;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.profile-image{
  width: 200px;
  border: 1px solid black;
  border-radius: 4px;
  height: 280px;
}

.profile-info{
  margin-left: 20px;
}

.profile-fullname{
  font-size: 32px;
  white-space: nowrap;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

dl{
  display: grid;
  grid-template-columns: max-content auto;
  gap: 3px;
}
dt {
  grid-column-start: 1;
  background-color: #f1f1f1;
}
dd {
  grid-column-start: 2;
  background-color: #ecf4ff;
}

dt, dd{
  border-radius: 5px;
  padding: 5px 10px;
  white-space: wrap;
  border: 1px solid rgb(212, 212, 212);
}

dd, dt, dl {
  font-size: 14px;
  margin: 0;
}

.about-service{
  margin: 20px;
}



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/*Search.jsx */
.search-electives{
  margin: 20px;
  width: 30%;
  border-radius: 18px;
  border: 2px solid white;
  background: rgba(217, 217, 217, 0.40);
  border: 1px solid rgb(158, 158, 158);
  font-size: 20px;
  height: 40px;
  padding-left: 40px;
  flex-shrink: 0;
}

.search-electives:focus{
  outline: 1px solid white;
}



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Elective.jsx*/
.elective-institutes{
  gap: 0px !important;
}

.electives{
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;
  margin: 0px 20px;
  gap : 15px;
}

.elective{
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid rgb(110, 110, 110);
  transition: 0.2s ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.elective-image{
  margin-top: 5px;
  height: 190px;
}

.elective-name{
  margin-top: 10px;
  font-size: 26px;
  text-align: center;
  height: 80px;
}
.elective-lists{
  display: flex;  
  flex-direction: column;
  margin: 3px;
  gap: 3px;
}

.sign{
  border-style: none;
  border: 1px solid black;
  background-color: rgb(10, 98, 196);
  color: white;
}

.elective-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.deleteElective{
  background-color: rgb(206, 51, 51);
  width: 100%;
  color: white;
  border-style: none;
  padding: 10px;
}

.deleteElective:hover{
  opacity: 0.8;
}

.elective-edit {
  width: 100%;
  border-style: none;
  padding: 10px;
  background-color: #333;
  color: white;
}

.elective-edit:hover{
  opacity: 0.85;
}

.elective-about{
  width: 100%;
  border-style: none;
  padding: 10px;
  background-color: rgb(20, 70, 122);
  color: white;
}

.elective-about:hover{
  opacity: 0.85;
}

.accepted-elective{
  background-color: rgb(81, 234, 92);
}

.rejected-elective{
  background-color: rgb(235, 56, 77);
  color: white;
}

.pending-elective{
  background-color: rgb(246, 210, 72);
}

.radioGroup input{
  display: none;
}

.radioGroup label{
  margin-top: 20px;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color:rgb(25, 93, 165);
  width: 30%;
  height: 100%;
  color: white;
  padding: 10px;
  border: 1px solid black;

}

.radioGroup input[type=radio]:checked + label {
  background-color:white;
  border-bottom: none;
  color: black;
}

.radioGroup label:hover{
  opacity: 0.9;
}

.radioGroup {
  display: flex;
  justify-content: center;
  gap: 10px; 
  box-shadow: none;
  opacity: 0.9;

}




/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/*RequestsStudents.jsx*/
table{
  border: 1px solid rgb(190, 190, 190);

	table-layout: fixed;
	width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table th {
	font-weight: bold;
	padding: 5px;
	background: #dfdfdf;
  border: 1px solid rgb(190, 190, 190);
}
table td{
	padding: 5px 10px;
	text-align: left;
  border: 1px solid rgb(190, 190, 190);

}
table tbody tr:nth-child(odd){
	background: #fff;
}
table tbody tr:nth-child(even){
	background: #F7F7F7;
}

table.no-spacing {
  border-spacing:0; 
  border-collapse: collapse; 
}

.showStudents{
  width: 100%;
  background-color: rgb(68, 123, 181);
  color: white;
  padding: 10px;
  border: none;
}

.showStudents:hover{
  opacity: 0.9;
}



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/*About.jsx*/
.about-image{
  height: 250px;
  width: 250px;
  margin: 35px 30px 30px 30px;
}
.about dl{
  padding: 0;
  height: min-content;
  margin: 10px 30px 0px 0px;
  width: 100%;
}

.about dt, .about dd{
  font-size: 14px;
}
.about{
  display: flex;
  flex-direction: row;
}

.about h1{
  font-size: 36px;
  margin-bottom: 0;
}

.about-other{
  margin: 0px 30px;
}

.about-describe{
  margin: 0px 30px;
}











































/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Form*/
.tox-statusbar{
  visibility: hidden;
}

.create-form {
  background-color: white;
  padding: 30px 60px;
}

.elective-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.selectProperty:hover, .elective-form input:hover, .elective-form input:focus, .electiveDescription:focus{
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 0 1px #80bdff;
}

.elective-form label{
  margin: 15px 0px 5px 0px;
  font-size: 20px;
  width: 100%;
}


.elective-form input{
  font-size: 16px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid rgb(172, 172, 172);
  background-color: #f9f9f9; 
  transition: 0.03s ease-in-out;
}


.create-form-title{
  font-size: 32px;
  font-weight: 700;
  padding:  40px 0px 0px 0px;
  text-decoration: underline 2px;
  text-underline-offset: 10px;
}

.first-title{
  padding-top: 10px;
}

.create-form-button{
  margin-top: 30px;
  padding: 7px;
  align-items: center;
  font-size: 20px;
  color: white;
  background: rgb(22, 86, 155);
  transition: 0.1s;
  border: none;
}

.create-form-button:hover{
  opacity: 0.9;
}


.selectProperty {
  width: 100%;              
  padding: 10px;             
  border: 1px solid rgb(172, 172, 172);
  border-radius: 10px;         
  background-color: #f9f9f9;  
  font-size: 16px;          
  color: #333;                
  appearance: none;        
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E'); /* Своя стрелка (иконка) */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

.selectProperty * {
  border-radius: 0px;
}

.custom-select:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 0 1px #80bdff;
}

.custom-select option {
  padding: 10px;
  background-color: #fff;
}



.filterRadios {
	display: flex;
  flex-direction: row;
  justify-content: space-around;
	margin-right: 10px;
}
.filterRadios input[type=radio] {
	display: none;
}
.filterRadios label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid black;
	user-select: none;
  width: 100%;
  text-align: center;
}
 
/* Checked */
.filterRadios input[type=radio]:checked + label {
	background: rgb(255, 150, 58);
  color: white;
  
}
 
/* Hover */
.filterRadios label:hover {
	opacity: 0.85;
}
 
/* Disabled */
.filterRadios input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}





.selectTeacher__control * {
  max-width: 100%; /* Ограничивает ширину выпадающего списка */

}




.selectTeacher__control{
  border: 1px solid black;
  width: 100%;
}


.selectTeacher__value-container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: white;  
  font-size: 20px;      
  align-self: start; 
}

.selectTeacher__value-container--is-multi {
  background-color: white;  
}

.selectTeacher__multi-value {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;      
}
.selectTeacher__multi-value__remove{
  text-align: center;
  transition: 0.2s;
  padding: 2px 0px;
}

.selectTeacher__indicators {
  display: flex;
  flex-direction: row;
}



.electiveDescription{
  font-size: 16px;
  border: 1px solid rgb(172, 172, 172);
  white-space: pre-line; 
  white-space: pre-wrap;
}

.formNavigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.nextStepButton{
  background-color: rgb(22, 86, 155);
  font-size: 20px;
  color: white;
  margin-top: 50px;
  padding: 15px;
  border: 1px solid black;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.nextStepButton:hover{
  opacity: 0.85;
}

.step1{
  display:  block;
}

.step2{
  display:  none;
}

.step3{
  display:  none;
}

.ipfInfo{
  border-radius: 5px;
}
.ifpContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}





.settingsContainer select{
  margin-top: 5px;

}

.settingsContainer{
  display: flex;

  justify-content: space-between;
  width: 100%;
}

.semestersSettings {
 width: 100%;
}

.titleLow{
  margin-top: 20px;
  font-size: 24px;
  border-bottom: 1px solid black;
}

.mainForm select{
  padding: 3px;
  font-size: 16px;
}

.notSelected{
  margin-top: 10px;
}

















.title {
  margin-top: 50px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 1000px
}

.elective-info-container{
  display: flex;
  flex-direction: row ;
  align-items: center;
  margin-top: 50px;
  background-color: white;
  padding: 30px;
  width: 80%;
  border-radius: 10px;
}


.elective-info-info * {
  gap: 10px;
  margin-left: 30px;
  
}
.elective-info-header{
  font-size: 32px;
  gap: 10px;
  display: flex;
  flex-direction: column ;
}
.elective-info-properties{
  margin-left: 0px;
  font-size: 20px;
  display: flex;
  flex-direction: column ;
  align-items: flex-end;
  white-space: nowrap;
}

.elective-info-properties *{
  white-space: nowrap;
  
}
.elective-info-values{
  margin-left: 0px;
  font-size: 20px;
  display: flex;
  flex-direction: column ;
  white-space: nowrap;
}

.elective-info-values span, 
.elective-info-values div{
  margin-left: 5px;
}

.elective-image-info{
  width: 360px
}

.describe-container{
  display: flex;
  flex-direction: row ;
  font-size: 20px;
  border: 1px solid black;
  align-items: center;
  margin-top: 10px;
  background-color: rgb(251, 251, 251);
  padding: 30px;
  width: 80%;
  border-radius: 10px;
  text-align: justify;
  margin-bottom: 20px;
  font-size: 20px;
  white-space: pre-line; 
  white-space: pre-wrap;
}


.footer  {
  background-color: #f0f0f0; /* Светло-серый фон */
  width: 100%;
  margin-top: 30px;
  text-align: center;
  color: #333; /* Тёмно-серый цвет текста */
  padding: 7px 0;
  font-size: 16px;
  border-top: 1px solid #ccc; 
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
  justify-content: center;
}


.elective-info-info{
  display: flex;
  flex-direction: row;
}











.form-student * {
  display: flex;
  flex-direction: column;
}



.step1{
  display:  block;
}

.step2{
  display:  none;
}


/* Стили для контрола (основного блока) */
.custom-select__control {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  min-height: 40px;
  border-radius: 5px;
  box-shadow: none;
}

/* Стили при фокусе */
.custom-select__control--is-focused {
  border-color: #80bdff;
  box-shadow: 0 0 0 1px #80bdff;
}

/* Стили для выпадающего меню */
.custom-select__menu {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
  z-index: 1000;  /* Убедитесь, что меню отображается поверх других элементов */
}

/* Стили для опций в меню */
.custom-select__option {
  background-color: #fff;
  color: #333;
  padding: 10px;
  cursor: pointer;
}

/* Стили для опций при наведении */
.custom-select__option--is-focused {
  background-color: #f1f1f1;
}

/* Стили для выбранных опций */
.custom-select__option--is-selected {
  background-color: #d3d3d3;
  color: #333;
}

/* Стили для выбранных элементов в мультивыборе */
.custom-select__multi-value {
  background-color: #d3d3d3;
  border-radius: 3px;
  padding: 5px;
  display: flex;
  align-items: center;
}

/* Текст внутри выбранных элементов */
.custom-select__multi-value__label {
  color: #333;
  margin-right: 5px;
}

/* Кнопка удаления выбранных элементов */
.custom-select__multi-value__remove {
  color: #333;
  cursor: pointer;
}

.custom-select__multi-value__remove:hover {
  background-color: #ff6666;
  color: white;
}















/* Файл SelectStyles.css */

label{
  white-space: nowrap;
}

.react-checkbox-tree ol{

  width: 100%;
  display: flex;
  flex-direction: column;
}

.rct-text *{
  justify-content: center;
  align-items: center;
}

.rct-text ol{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rct-node *{
  display: flex;
  flex-direction: row;
  white-space: wrap;
}

.react-checkbox-tree li{
  display: flex;

}

/* custom-checkbox-tree.css */
.checkbox-tree-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.rct-tree {
  display: table-row-group;
}

.rct-node {
  display: table-row;
}

.rct-node-label {
  display: table-cell;
  padding: 8px;
}

.rct-checkbox {
  display: inline-block;
  margin-right: 10px;
}

.rct-node-expanded{
  flex-direction: column;
}


.facultativeRadio{
  display: flex;
  flex-direction: column;
}

.facultativeRadio div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.facultativeRadio label{
  margin: 0px;
}

.facultativeRadio input{
  margin: 0px 5px 0px 0px;
}

.searchRadios{
  display: flex;
  flex-direction: column;
}

.searchRadio{
  display: flex;
  align-items: center;
}

.forAll{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.forAll label{
  margin: 0px 5px 0px 0px;
}

.courseTree .react-checkbox-tree ol{
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: space-around;
}

.rct-icons-fa4 .rct-icon-check::before{
  background: url('./ystu-images/icons/check.png');
  background-size: 19px;
  color: black; 
}

.rct-icons-fa4 .rct-icon-uncheck::before{
  background: url('./ystu-images/icons/uncheck.png');
  background-size: 19px;
  color: black; 
}

.rct-node-icon{
  color: #333;
}

.electiveDates{
  gap: 40px;
  display: flex;
  flex-direction: row;
}

.electiveDates * {
  width: 95%;
}