@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  position: relative;
}

body {
  margin: 0px 180px;
  overflow-y: scroll;
}

body *{
  font-family: Nunito;
}

main{
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100%;
  box-shadow: 10px 0px 10px 1px #aaaaaa;  
}

a:hover, button:hover {
  opacity: 80%;
}

dl{
  display: grid;
  grid-template-columns: max-content auto;
  gap: 3px;
}

dt {
  grid-column-start: 1;
  background-color: #f1f1f1;
}
dd {
  grid-column-start: 2;
  background-color: #ecf4ff;
}

dt, dd{
  border-radius: 5px;
  padding: 5px 10px;
  white-space: wrap;
  border: 1px solid rgb(212, 212, 212);
}

dd, dt, dl {
  font-size: 14px;
  margin: 0;
}

details {
  background-color: #333;
  color: white;
  display: flex;
}

details[open] summary{  
  background-color: rgb(242, 152, 72);
}

details p{
  padding: 0px 0px 10px 10px;
}

summary {
  border-bottom: 1px solid black;
  background-color: rgb(25, 93, 165);
  color: white;
  padding: 10px;
}

.radioGroup input[type=radio]:checked + label {
  background-color:white;
  border-bottom: none;
  color: black;
}

.createMode input[type=radio]:checked + label {
  background-color:rgb(74, 222, 128);
  border-bottom: none;
  color: black;
}


